
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    background: #E8CBC0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0) ;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #636FA4, #E8CBC0) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: grid;
grid-template-rows: 30% auto ;

    
 
}

  
.song__img{
    width: 46px;
    height: 46px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    padding: 5px;
}
.audio_{
  
    align-items: center;
    
}
.text{
    text-align: left;
    color: #17252A;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
}
.song{
    display: grid;
    align-items: center;
    place-items: center;
    background-color: #FEFFFF;
    grid-template-columns: 50px 170px 277px auto auto;
border-radius: 25px;
margin-top: 1%;
margin-bottom: 1%;
}
 h2{
   
    display: block;
  text-align: left;
    color: #17252A;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
 }
 a{
    color: #17252A;
 }
.song__img{
    border-radius: 50px;
}
 .author{
    
   color: #17252A;
    align-items: center;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 100;
}  
.player{
    
    align-items: center;
    
}
.content{
    align-items: center;
    margin-left: 2%;
    margin-right: 30%;
}
.random{
    border-radius: 25px;
    border: none;
    background-color:  #f8e1da;
    height: 28px;
    cursor: pointer;
    width: 150px;
    margin-left: 2%;
    
}
.random:hover{
    
    background-color: #d1d3d396;
}
.add{
    border-radius: 25px;
    border: none;
    background-color: #f8e1da;
    height: 28px;
    cursor: pointer;
    width: 100px;
    
}
.add:hover{
    
    background-color: #636fa46c;
}
.delete{
    border-radius: 25px;
    border: none;
    background-color: #d1d3d396;
    height: 28px;
    width: 68px;
    cursor: pointer;
    
}
.delete:hover{
    
    background-color: #f8e1da;
    
}
form{
    width: 20%;
    height: 55%;
    margin-bottom: 1%;
    background-color: #feffff93;
    border-radius: 15px;
    margin-left: 2%;
    margin-bottom: 15px;
}
input{
    padding: 1px;
    border-radius: 5px;
    height: 20px;
    border: none;
    margin-bottom: 2px;
    margin-left: 2%;
    margin-top: 5px;
}
.profile{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 100;
    margin-left: 2%;
    margin-bottom: 10px;
}